@model dynamic

@{
    Layout = null;
}

<div class="3u">
    <section>

        <h2>@Strings.Contacts</h2>

        <p><strong>Анна +37529-6881385</strong></p>
        <p><strong>Екатерина +37544-7435700</strong></p>
        <p><strong>momentshoney@gmail.com</strong></p>
        <p><strong>@Strings.UnpNumber</strong></p>
        <a class="button" href="mailto:momentshoney@gmail.com" target="_blank">@Strings.WriteALetter</a>

    </section>
</div>
