<div id="featured">
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            @Html.Action("LastComment", "Comments")
            <div class="3u">
                <section>
                    <h2>Donec dictum</h2>
                    <ul class="default">
                        <li>
                            <h3>Mauris vulputate dolor sit amet</h3>
                            <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
                        </li>
                        <li>
                            <h3>Fusce ultrices fringilla metus</h3>
                            <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
                        </li>
                        <li>
                            <h3>Donec dictum metus in sapien</h3>
                            <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="3u">
                <section>
                    <h2>@Strings.OurInstagram</h2>

                    <div id="partialContents" style="text-align: center" data-url="@Url.Action("GetInstagramFeed", "News")">
                        <img src="~/Content/images/preloader.gif" />
                    </div>

                </section>
            </div>
            <div class="3u">
                <section>
                    <h2>Luctus eleifend</h2>
                    <p><strong>Aliquam erat volutpat. Pellentesque tristique ante ut risus. </strong></p>
                    <p>Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit.</p>
                    <p>Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat.</p>
                    <a href="#" class="button">More Collections</a>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- /Footer -->
