@using HappyStation.Web.Resources
<div id="header">
    <div class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="#">Happy Station</a></h1>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="active">@Html.ActionLink(Strings.MainPage, "Index", "Home")</li>
                <li>@Html.ActionLink(Strings.News, "Index", "News")</li>
                <li>@Html.ActionLink(Strings.Gallery, "Index", "Gallery")</li>
                <li>@Html.ActionLink(Strings.About, "About", "Home")</li>
            </ul>
        </nav>
    </div>
</div>

<div id="banner">
    <div class="container">
    </div>
</div>