@model IEnumerable<NewsViewModel>

@{
    ViewBag.Title = "News list";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main" class="container">
    <div class="9u skel-cell-important">
        <section>
            <header>
                <h2>News list</h2>
                <ul class="style1">
                    @foreach (var news in Model)
                    {
                        <li>
                            @Html.ActionLink(news.Title, "News", "News", new { @id = news.Id }, null)
                        </li>
                    }
                </ul>
            </header>
        </section>
    </div>
</div>
