@model IEnumerable<NewsViewModel>

@{
    Layout = null;
}

<div class="3u">
    <section class="sidebar">
        <header>
            <h2>@Strings.News</h2>
        </header>
        <ul class="style1">
            @foreach (var news in Model)
            {
                if (Request.Url != null &&
                    (Request.Url.AbsolutePath == Url.Action("News", "News", new
                {
                    @id = news.Alias
                }) || Request.Url.AbsolutePath == Url.Action("News", "News", new
                {
                    @id = news.Id
                })))
                {
                    <li>@news.Title</li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(news.Title, "News", "News", new
                        {
                            @id = news.Url
                        }, null)
                </li>
                }
            }
        </ul>
    </section>
</div>
