@model PageContentViewModel

@{
    ViewBag.Title = Strings.About;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main" class="container">
    <div class="row">

        @Html.Action("PreviewList", "Services")

        <div class="9u skel-cell-important">
            <div id="marketing" class="row container-secondary">
                @if (Model != null)
                {
                    @Html.Raw(Model.Text)
                }
            </div>
        </div>
    </div>
</div>