@model dynamic

@{
    ViewBag.Title = Strings.AdminPanel;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main" class="container">
    <div class="9ut">
        <h2>@ViewBag.Title</h2>

        <ul class="style2">
            <li>
                @Html.ActionLink(Strings.ContentImages, "ListAdmin", "ContentImages")
            </li>

            <li><a target="_blank" href="https://app.purechat.com/User/Dashboard">@Strings.OnlineChatAdmin</a></li>
        </ul>

        <form action="http://momentshoney.justclick.ru/subscribe/process/?rid[0]=BSMinsk&doneurl=http%3A%2F%2Fohm.by&doneurl2=http%3A%2F%2Fohm.by"
              method="post"
              target="_blank"
              id="form-mailing-subscribe">
            <input name="lead_name"
                   type="text"
                   class="field-editor-short"
                   onblur=' if (this.value == "") this.value = "Введите ваше имя" '
                   onfocus=' if (this.value == "Введите ваше имя") this.value = "" '
                   value="Введите ваше имя"/>
            <input name="lead_email"
                   type="text"
                   class="field-editor-short"
                   onblur=' if (this.value == "") this.value = "Введите ваш e-mail" '
                   onfocus=' if (this.value == "Введите ваш e-mail") this.value = "" '
                   value="Введите ваш e-mail" />
            <a class="button" onclick=" document.getElementById('form-mailing-subscribe').submit() ">@Strings.Subscribe</a>
        </form>

    </div>
</div>
