@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("HotestServices", "Services")

<!-- Main -->
<div id="main" class="container">
    <div class="row">
        <div class="6u" id="marketing">
            <section>
                <header>
                    <h2>
                        МАСТЕРСКАЯ СЧАСТЛИВЫХ МОМЕНТОВ
                    </h2>
                </header>

                @if (ViewBag.AboutUs != null)
                {
                    @Html.Raw(ViewBag.AboutUs.ToString());
                }

                @*<p>
                        И неужели <strong>ВЫ</strong> действительно хотите все вместе заниматься подготовкой к такому «празднику»,
                        на котором все будут «работать»? У вас есть своя фантазия и свое видение, но мы этого не забираем у вас.
                        Мы стараемся воплотить ваши мечты в реальность! Не всегда придуманное вами можно реализовать без помощи профессионалов.
                    </p>
                    <p>
                        Кроме того, есть 1000 и еще 1 проблема, которая может испортить ваш день.
                        Это могут быть декорации не того цвета, это может быть не та музыка к вашему первому танцу,
                        это может быть отсутствие микрофона у площадки, это может быть неработающий проектор и так до бесконечности.
                        И это только часть всех вопросов, которые мы решаем на ваших свадьбах.
                        Каждая свадьба уникальна, поэтому невозможно предусмотреть, где, как и что может пойти не так именно у вас.
                        Но вам не нужно беспокоиться об этом – для этого есть <strong>МЫ</strong>!
                    </p>*@
            </section>
        </div>

        @Html.Action("HottestNews", "News")

        @Html.Action("Handmade", "News")
    </div>
</div>


